# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/
.env
/backend/.venv

# IDE
.vscode/
.idea/

# Mac
.DS_Store

# Testing
.coverage
htmlcov/

# Build
dist/
build/

# Node
node_modules/

# backup files
*backup.sql
tree_output.txt
